
singularity {
  enabled    = true
  autoMounts = true
  runOptions = "--bind /mnt:/mnt --bind /data:/data"
}

conda {
  enabled    = true
}

process {
  withLabel: 'bioconductor' { container = 'variantannotation.0.1' }
  withLabel: 'bcftools'     { container = 'bcftools.1.19' }
  withLabel: 'vep'          { container = 'ensembl-vep-110' }
  withLabel: 'spliceai'     { container = 'spliceai_1.3.1' }
  withLabel: 'pangolin'     { container = 'pangolin_1.0.1' }
  withLabel: 'alphagenome'  { container = 'alphagenome.0.1' }
  withLabel: 'atsnp'        { container = 'atsnp.0.1' }
}

params {
  // Default params
  tool      = 'vep'
  chunk     = 10
  limit     = 30

  // VEP
  species   = 'homo_sapiens'
  assembly  = 'GRCh38'
  cadd      = false
  spliceai  = false
  gnomad    = false

  // SpliceAI
  distance  = 50
  masked    = true

  // atSNP
  motifs   = "ENCODE"

  normalize = true
  remove_ambiguous = true
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test_vep {
    params {
      tool    = "vep"
      version = "110"
      cadd    = true
      gnomad  = true
    }
  }

  test_spliceai {
    params {
      tool    = "spliceai"
      version = "1.3.1"
    }
  }

  test_pangolin {
    params {
      tool    = "pangolin"
      version = "1.0.1"
    }
  }

  test_alphagenome {
    params {
      tool     = "alphagenome"
      version  = "0.1"
      species  = "human"
      distance = "1MB"
    }
  }

  test_atsnp {
    params {
      tool     = "atsnp"
      version  = "0.1"
      species  = "human"
    }
  }
}
