
singularity {
  enabled    = true
  autoMounts = true
  runOptions = "--bind /mnt:/mnt --bind /data:/data"
}

process {
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'vep'      { container = 'ensembl-vep-110' }
}

params {
  // Default params
  tool      = 'vep'
  species   = 'homo_sapiens'
  assembly  = 'GRCh38'
  chunk     = 10
  limit     = 30
  cadd      = false
  spliceai  = false
  gnomad    = false
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohort_info = "input/cohort_info.csv"
    }
  }
}
